* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    user-select: none;
    color: var(--text-color);
}

:root {
    --primary-color: #F3EFE0;
    --black-light: #434242;
    --text-color: #222222;
    --btn-color: #22A39F;
    --text-title-color: #22A39F;
}
