* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(207, 207, 207);
    user-select: none;
    color: var(--text-color);
}

:root {
    --text-color: #2c3333;
}
