.create-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: calc(100vw - 120px);
}

.create-wrapper {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-wrapper label {
    font-size: 16px;
    margin-bottom: 5px;
}

.input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    background-color: #0069d9;
}
