.success-order-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    overflow-y: auto;
}

.success-order-wrapper {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
}

.success-order-title {
    font-size: 23px;
    margin-bottom: 5px;
}

form {
    gap: 5px;
    margin-bottom: 20px;
}

.success-order-info {
    font-size: 20px;
    margin: 0;
}

.success-order-address-data {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.check-out-info {
    display: flex;
    align-items: center;
    margin-right: 30px;
    margin: 10px;
}

.check-out-info h3 {
    margin-right: 10px;
    font-size: 20px;
    color: var(--text-color);
}

.success-order-products-info {
    margin-bottom: 20px;
}

.product_id {
    margin-bottom: 10px;
}

.success-order-price-and-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.success-order-product-title {
    font-size: 18px;
}

.success-order-price {
    font-size: 16px;
}

.chosen-payment-method {
    margin-bottom: 20px;
    font-size: 20px;
}

.success-order-price-msg {
    font-size: 20px;
}

.done {
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
}
