.show-user-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding: 20px 2rem;
    background: linear-gradient(
        90deg,
        rgba(209, 228, 209, 1) 50%,
        rgba(243, 251, 241, 1) 95%
    );
}

.not-authorized {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(
        90deg,
        rgba(209, 228, 209, 1) 30%,
        rgba(243, 251, 241, 1) 80%
    );
}