.navbar-container {
    width: 100%;
    height: 100%;
    padding: 0.5rem 5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: #dbe2ef;
}
.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-wrapper > a {
    height: 60px;
    width: 60px;
}

.navbar-wrapper > a img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.navbar-links {
    display: flex;
    gap: 1em;
}

.navbar-link {
    display: flex;
    gap: 0.5em;
}

.navbar-link > a,
.navbar-products > a {
    text-decoration: none;
    position: relative;
    transition: 150ms all;
    font-size: 16px;
}

.navbar-cart {
    cursor: pointer;
    position: relative;
    margin-right: 20px;
}

.navbar-cart:hover svg {
    fill: var(--btn-color);
}

.navbar-cart .cart-number {
    cursor: default;
    position: absolute;
    top: -15px;
    right: 2px;
    font-size: 16px;
}

a:hover {
    color: var(--btn-color);
}
